{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>Following</h1>


    <div id="posts">

        {% for post in posts %}
        <div class="post text-left" data-post_id="{{post.id}}">
            <a href="{% url 'show_profile' post.creator.id %}"><h4>{{ post.creator }}</h4></a>
            <p>{{ post.message }}</p>
            <small class='text-secondary'>{{ post.timestamp }}</small>
            <br>
            {% if user.is_authenticated %}
                <button class="btn btn-sm btn-danger like">Like/Unlike</button>
            {% endif %}
            <span class="likes">Likes: {{post.likes }}</span> <br>
            <a href="#">Comment</a>
        </div>    
        {% endfor %}
        
    </div>
    
{% endblock %}

{% block js%}
    <script src="{% static 'network/like_unlike.js' %}"></script>
{% endblock%}
