{% extends "network/layout.html" %}
{% load static %}

{% block title%}Following{% endblock %}

{% block body %}
    <h1>Following</h1>


    {% include 'network/render_posts.html' %}
    
    <nav id="nav-pagination">
        <ul class="pagination">
          <li class="page-item">
              <a class="page-link previous" href="/following/1">Previous</a>
        </li>
          {% for i in range %}
             <li class="page-item page-number" data-page_number="{{i}}" >
                 <a class="page-link" href="/following/{{i}}">{{i}}</a>
            </li>
          {% endfor%}
          <li class="page-item">
              <a class="page-link next" href="/following/2">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block js%}
    <script src="{% static 'network/like_unlike.js' %}"></script>
    <script src="{% static 'network/paginator_following.js' %}"></script>
{% endblock%}
