{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>

    {% if user.is_authenticated %}
    <div style="margin: auto; display: inline-block;">

        <form  class="d-flex justify-content-around" style="width: 400px;">
            <textarea id="message" placeholder="say something" autofocus required
            class="form-control"></textarea>   
            
            <button class="btn btn-primary" id="post-button">POST</button>
        </form>
    </div>
    {% endif %}


    {% include 'network/render_posts.html' %}

    <nav id="nav-pagination">
        <ul class="pagination">

          <li class="page-item">
              <a class="page-link previous" href="/feed/1">Previous</a>
          </li>

          {% for i in range %}
             <li class="page-item page-number" data-page_number="{{i}}" >
                 <a class="page-link" href="/feed/{{i}}">{{i}}</a>
            </li>
          {% endfor%}

          <li class="page-item">
              <a class="page-link next" href="/feed/2">Next</a>
          </li>

        </ul>
    </nav>

{% endblock %}


{% block js%}  

    {% if user.is_authenticated %}
    <script src="{% static 'network/like_unlike.js' %}"></script>
    <script src="{% static 'network/edit_post.js' %}"></script>
    <script src="{% static 'network/post.js' %}"></script>
    {% endif %}
        
    <script src="{% static 'network/paginator.js' %}"></script>
{% endblock %}
    
