{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>

    {% if user.is_authenticated %}
    <form>
        <input id="message" placeholder="say something" autofocus>
        <button>POST</button>
    </form>
    {% endif %}

    <div id="posts">

        {% for post in posts %}
        <div class="post  p-3 m-2 col-lg-4 col-sm-6">
            <a href="{% url 'show_profile' post.creator.id %}"><h4>{{ post.creator }}</h4></a>
            <a href="#">Edit</a>
            <p>{{ post.message }}</p>
            <small class='text-secondary'>{{ post.timestamp }}</small>
            <br>
            <span>Likes: {{post.likes }}</span> <br>
            <a href="#">Comment</a>
        </div>    
        {% endfor %}
        
    </div>
    
{% endblock %}


{% block js%}    
    {% if user.is_authenticated %}
        <script src="{% static 'network/main.js' %}">
        </script>
    {% endif %}
{% endblock %}
    
