{% extends "network/layout.html" %}
{% load static %}

{% block title%}{{username}}{% endblock %}

{% block body %}
    <h1>{{ username }}</h1>
    <ul>
      <li >Followers: <span id="followers">{{followers}}</span></li>
      <li>Following: {{following}}</li>
    </ul>

    {% if user.is_authenticated %}
      {% if user.username != username %}
        <button id="follow_unfollow" 
          data-profile_id="{{user_id}}" 
          class="btn btn-md btn-dark rounded-pill" style="width: 100px;">
          {% if is_followed %}
            Unfollow
          {% else %}
            Follow
          {% endif %}  
        </button>
      {% endif %}
    {% endif %}

    <div id="posts">

      {% for post in posts %}
      <div class="post text-left" data-post_id="{{post.id}}">
          <a href="{% url 'profile' post.creator.username 1 %}"><h4>{{ post.creator }}</h4></a>

          <p>{{ post.message }}</p>
          <textarea style="display: none;"></textarea>
          <button style="display: none;" class="btn btn-sm btn-info mt-1">Update</button>

          {% if post.creator == user %}
              <a class="btn btn-sm btn-info edit" data-post_id="{{post.id}}">Edit</a>
          {% endif %}
          <br>
          <small class='text-secondary'>{{ post.timestamp }}</small>
          <br>
          {% if user.is_authenticated %}

            {% if post.id in posts_liked %}
                <i class="fa fa-heart like" style="color:red"></i>    
            {% else %}    
                <i class="fa fa-heart like" style="color:black"></i>    
            {% endif %}

        {% else %}
            <i class="fa fa-heart like" style="color:black"></i>   
        {% endif %}
        <span class="likes">{{post.likes }}</span> <br>
            
      </div>    
      {% endfor %}
      
    </div>
  
    <nav id="nav-pagination">
      <ul class="pagination">
        <li class="page-item">
            <a class="page-link previous" href="/profile/{{username}}/1">Previous</a>
      </li>
        {% for i in range %}
           <li class="page-item page-number" data-page_number="{{i}}" >
               <a class="page-link" href="/profile/{{username}}/{{i}}">{{i}}</a>
          </li>
        {% endfor%}
        <li class="page-item">
            <a class="page-link next" href="/profile/{{username}}/2">Next</a>
          </li>
      </ul>
    </nav> 
    
  {% endblock %}
    
{% block js %}
  {% if user.is_authenticated %}
    {% if user.username != username %}
      <script src="{% static 'network/follow_unfollow.js' %}"></script>
    {% else %}
      <script src="{% static 'network/edit.js' %}"></script>
      {% endif %}
    <script src="{% static 'network/like_unlike.js' %}"></script>
    <script src="{% static 'network/paginator_profile.js' %}"></script>
  {% endif %}
{% endblock %}

    
