{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ username }}</h1>
    <ul>
      <li >Followers: <span id="followers">{{followers}}</span></li>
      <li>Following: {{following}}</li>
    </ul>

    {% if user.username != username %}
      <button id="follow_unfollow" 
         data-profile_id="{{user_id}}" 
         class="btn btn-sm btn-primary">
        {% if is_followed %}
          Unfollow
        {% else %}
          Follow
        {% endif %}  
      </button>
    {% endif %}

    <div id="posts">

        {% for post in posts %}
        <div class="post text-left">
            <h4>{{ post.creator }}</h4>
            <a href="#">Edit</a>
            <p>{{ post.message }}</p>
            <small class='text-secondary'>{{ post.timestamp }}</small>
            <br>
            <span>Likes: {{post.likes }}</span> <br>
            <a href="#">Comment</a>
        </div>    
        {% endfor %}
        
    </div>
    
    
    {% endblock %}
    
{% block js %}
    <script src="{% static 'network/profile.js' %}"></script>      
{% endblock %}

    
