{% extends "network/layout.html" %}
{% load static %}

{% block title%}{{username}}{% endblock %}

{% block body %}
    <div class="profile">

      <img src="{{profile_user.image_url}}" class="profile-image" >
      

      <h2 class="profile-username">{{ username }}</h2>
     
      <div class="profile-footer">
        
        <div class="profile-footer-left">
          <div class="profile-followers">
            <strong><span id="followers">{{followers}}</span></strong> <span class="text-secondary">Followers</span> 
          </div>
         <strong> {{following}} </strong> <span class="text-secondary ml-2"> Following </span>
        </div>

        <div class="profile-footer-righ">

          {% if user.is_authenticated %}
            {% if user.username != username %}
            <button id="follow_unfollow" 
            data-profile_id="{{user_id}}" 
            class="btn btn-sm btn-dark rounded-pill" style="width: 100px;">
            {% if is_followed %}
            Unfollow
            {% else %}
            Follow
            {% endif %}  
          </button>
          {% else %}
          <a href="{% url 'edit_profile' user.username %}" class="btn  btn-sm btn-primary rounded-pill" id="edit_profile" >Edit Profile</a>
          {% endif %}
        {% endif %}
      </div>
        
        
      </div>


      
      
    </div>

    
    {% include 'network/render_posts.html' %}

    <nav id="nav-pagination">
      <ul class="pagination">
        <li class="page-item">
            <a class="page-link previous" href="/profile/{{username}}/1">Previous</a>
      </li>
        {% for i in range %}
           <li class="page-item page-number" data-page_number="{{i}}" >
               <a class="page-link" href="/profile/{{username}}/{{i}}">{{i}}</a>
          </li>
        {% endfor%}
        <li class="page-item">
            <a class="page-link next" href="/profile/{{username}}/2">Next</a>
          </li>
      </ul>
    </nav> 
    
  {% endblock %}
    
{% block js %}
  {% if user.is_authenticated %}
    {% if user.username != username %}
      <script src="{% static 'network/follow_unfollow.js' %}"></script>
    {% else %}
      <script src="{% static 'network/edit_post.js' %}"></script>
      <script src="{% static 'network/edit_profile.js' %}"></script>
      {% endif %}
    <script src="{% static 'network/like_unlike.js' %}"></script>
  {% endif %}
    <script src="{% static 'network/paginator_profile.js' %}"></script>
{% endblock %}

    
