.post{
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;

  width: 400px;
  padding: 5px;
}

.post-header{
  display: flex;
  justify-content: space-between;
}

.post-footer{
  display: flex;
  justify-content: space-between;
}


.post a {
  color: black;
}

.post-image{
  width: 50px;
  border-radius: 50%;
}

.post h4{
  display: inline;
}

.post:hover{
  background-color: lightgray;
}
#nav-pagination{
  display: inline-block;
 
}
