.post{
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;

  width: 350px;
  padding: 5px;
}

.post-header{
  display: flex;
  justify-content: space-between;
}

.post-footer{
  display: flex;
  justify-content: space-between;
}


.post a {
  color: black;
}



#nav-pagination{
  display: inline-block;
 
}
